.link__wrapper {
  text-decoration: none;
  color: black;
}

.product {
  width: 230px;
  min-width: 230px;
  height: 450px;
  display: block;
  padding: 1rem 1.5rem;
  box-shadow: 0px 0px 12px 0px rgba(66, 68, 90, 0.28);
  border-radius: 0.5rem;
  margin: 1rem;
}
.product__main {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.main--image {
  width: 100%;
  max-height: 300px;
}
.product__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0.5rem;
}

.header--thumbnail {
  max-width: 100%;
  width: 10%;
  clip-path: circle();
  border-radius: 50%;
}
.header--username {
  font-size: 12px;
  color: grey;
  margin-left: 0.5rem;
}

.product__footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 0.5rem;
  line-height: 0;
}
.footer--price {
  font-size: 0.9rem;
}

.footer--size,
.footer-brand {
  font-size: 0.7rem;
  color: grey;
  margin: 0.4rem 0;
}
